/*TODO fix this class up since it was just copied from the book CSS Instant Results*/
ul#verticalMenu {    
    font: bold 10px Verdana, Arial, Helvetica, sans-serif;
}
ul#verticalMenu,
ul#verticalMenu li,
ul#verticalMenu ul {
  margin: 0;
  border: 0 none;
  padding: 0px;
  width: 160px; /*For KHTML*/
  list-style: none;
  height: auto !important;
  font: bold 10px Verdana, Arial, Helvetica, sans-serif;
  z-index: 1000;
}

ul#verticalMenu a {
   border: 1px solid #FFF;
  border-right-color: #CCC;
  border-bottom-color: #CCC;
  background-color: #EEE;
  color: #666;
  padding: 0 6px;  
  text-decoration: none;
  display: block;
    
  line-height: 2.4em;
  min-height: 2.4em;
  height: auto !important;  
  height: 1%; /*For IE*/    
}

ul#verticalMenu,
ul#verticalMenu ul {
    background: rgb(128, 128, 128);
}
ul#verticalMenu ul {
    position: absolute;
    top: 0;
    left: 160px; 
    display: none; /*visibility: hidden;*/
}
ul#verticalMenu li {
    position: relative;
    height: auto;
}
ul#verticalMenu li:hover {
    background-color: rgb(142, 142, 142);
}
ul#verticalMenu li:hover > a {
  background-color: #CCC;
  color: #FFF;  
}
ul#verticalMenu li:hover > ul {    
    color: #FFF;  
    display: block; /*visibility: visible;*/
}
li.menuItemBullet > a {
    background: #EEEEEE url(arrow_right.png) no-repeat 145px ;
}
ul#verticalMenu ul:hover ul {

    /*visibility: visible;*/
}

/* IE6 or non-strict mode*/
ul#verticalMenu .menuItemBullet  a,
ul#verticalMenu .menuItemBullet ul .menuItemBullet a,
ul#verticalMenu .menuItemBullet ul .menuItemBullet .menuItemBullet a {
    _background: #EEE url('arrow_right.png') no-repeat 145px;
}

ul#verticalMenu .menuItemBullet a:hover,
ul#verticalMenu li.iehover a,
ul#verticalMenu .menuItemBullet .menuItemBullet a:hover,
ul#verticalMenu li.iehover li.iehover a,
ul#verticalMenu .menuItemBullet .menuItemBullet .menuItemBullet a:hover,
ul#verticalMenu li.iehover li.iehover li.iehover a {
    
    _background: #CCC url('arrow_right.png') no-repeat 145px;
}
/* IE6 end*/